.category-menu {
  .category-list {
    margin-left: 20px;
  }
}

@media (min-width: 992px){
  ul.category-list li.dropdown > a:after {
    font-size: 28px;
  }
  ul.category-list .megamenu-dropdown{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 300px;
    li{
      background-color: white;
    }
  }
}
