{{ header }}
  <div class="container">
    <div class="row">
    <div class="breadcrumb-back">
      <h1 class="page_title text-center">{{ heading_title }}</h1>
    </div>
    <p class="page__description">Заказать товар в нашем магазине через интернет-магазин 
      Сделать заказ можно круглосуточно и без выходных</p>
    </div>
  </div>
  <div class="delivery">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            {{ description }}
          </div>
        </div>
      </div>
  </div>
{{ footer }}