@media (min-width: 320px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {
  .newsletterblock {
    background-image: url(../image/mahardhi/newletter.png);
    background-repeat: no-repeat;
    background-position: right top;
  }
}

@media (min-width: 1200px) {}