@media (min-width: 320px) {
  .delivery{
    padding: 32px 0;
  }
}

@media (min-width: 768px) {}

@media (min-width: 992px) {
  .newsletterblock {
    background-image: url(../image/mahardhi/newletter.png);
    background-repeat: no-repeat;
    background-position: right top;
  }
  
  .delivery{
    padding: 32px 0 100px;
    background-image: url('../image/map.png');
    background-repeat: no-repeat;
    background-position: right center;

  }
}

@media (min-width: 1200px) {}